.search{
    margin: 56px 0;
    .search-items{
        font-size: 14px;
        background: #e7e7e7;
        color: #464646;

    }

    .list{
        margin-top: 5px;
        flex-wrap: wrap;
        justify-content: center;

    }
}